<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>invisibleDes</title>
    <link rel="icon" href="../static?file=favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../static?file=favicon.ico" type="image/x-icon" />
    <link rel="stylesheet"
          href="https://unpkg.com/purecss@0.6.1/build/pure-min.css"
          integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY"
          crossorigin="anonymous"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Hello {{username}} welcome to my world</h1>
    <img src="../static?file=avatar.gif" alt="image not loaded"/>
    <div class="pure-menu pure-menu-horizontal">
        <!--<a href="#" class="pure-menu-heading pure-menu-link">BRAND</a>-->
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/user/login/view" class="pure-menu-link">Login</a></li>
            <li class="pure-menu-item"><a href="/user/register/view" class="pure-menu-link">Register</a></li>

            <!--<li class="pure-menu-item"><a href="/profile" class="pure-menu-link">Profile</a></li>-->
            <!--<li class="pure-menu-item"><a href="/admin/users" class="pure-menu-link">Users</a></li>-->
            <!--<li class="pure-menu-item"><a href="/todo" class="pure-menu-link">Todo</a></li>-->

            <li class="pure-menu-item"><a href="/weibo/index" class="pure-menu-link">Weibo</a></li>
        </ul>
    </div>
</body>
</html>