<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>weibo</title>
        <style>
        .comment-content {
            /*border: 1px red solid;*/
        }
        .comment-cell{
            border: 1px #ff0000 solid;
            margin-left: 10px;
        }
        .weibo-cell {
            margin-left: 10px;
        }
        .comment_list {
            margin-left: 10px;
        }
    </style>
    </head>
    <body>
        <input id='id-input-weibo'>
        <button id='id-button-weibo-add'>Release weibo</button>
        <div id="id-weibo-list">
        </div>

        <script src='/static?file=utils.js'></script>
        <script src='/static?file=weibo.js'></script>
    </body>
</html>
